/* index.HTML */
body {
  background-color: navajowhite;
  --var-mainBG-color: gainsboro;
  margin: auto;
  font-size: 16px;
}

header {
  display: flex;
  background-color: gold;
  height: 30vh;
}
.gridHeader {
  position: relative;
  background-color: yellowgreen;
  height: 100%;
  width: 100%;
  display: grid;

  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;

  grid-template-areas:
    "topLeft topRight"
    "bottomLeft bottomRight";
}
.gridHeader > * {
  position: relative;
}
.topLeft {
  /* width: 60%; */

  /* text-align: center; */
  /* position: absolute; */
  /* left: 25%; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  grid-area: topLeft;
  background-color: rgb(186, 218, 245);
  font-family: Times, serif;
}
.gridContentContainer {
  position: relative;
  box-sizing: border-box;
  padding: 5%;
  padding-bottom: 0;
  width: 80%;
  height: 90%;
  overflow: auto;
}

.gridContentContainer > span {
  position: absolute;
  /* display: inline-block; */
  /* width: 100%; */
  font-size: 1.5rem;
  font-weight: bolder;
  transition: opacity 1s ease;
}

.gridContentContainer p {
  position: absolute;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.3rem;
  width: 88%;
  opacity: 0;
  transition: opacity 1s ease;
}
/* .gridContentContainer > * {
  position: relative;
  opacity: 1;
} */
.topLeft:hover p {
  opacity: 1;
}
.topLeft:hover .gridContentContainer > span {
  opacity: 0;
}
.topLeft p span {
  color: white;
}

.joinButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  background-color: white;
  font-weight: bold;
  font-size: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 1% 3%; */
  border-radius: 40px;
  box-shadow: 0 1px 0px 0px rgb(121, 145, 146);
}
header .joinButton {
  width: 24%;
  height: 15%;
}
.bottomLeft {
  grid-area: bottomLeft;
  background-color: rgb(186, 218, 245);
  background-image: url("img/family.png");
  background-position: 90%;
  background-origin: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.bottomLeft .joinButton {
  position: absolute;
  left: 20%;
  top: 20%;
}

.topRight,
.bottomRight {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
}
.gridHeader h6 {
  margin: 0;
  padding: 0;
}
.topRight {
  position: relative;
  grid-area: topRight;
  background-color: tomato;
}
.fadeInContainer {
  opacity: 0;
  position: absolute;
  top: 0;
  height: 100%;
  background-color: tomato;
  transition: opacity 3s ease;
  overflow: auto;
}
.topRight:hover .fadeInContainer {
  opacity: 1;
}

.bottomRight {
  position: relative;
  grid-area: bottomRight;
  background-color: orange;
}

@keyframes slideInDropDown {
  0% {
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleY(0);
  }
}
.slideInContainer {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: azure;
  transform: scaleX(0);

  /* transition: transform 2s; */
  transform-origin: 0% 100%;
}
.bottomRight:hover .slideInContainer {
  animation: slideInDropDown 4s;
}

.topRight span:nth-child(2),
.bottomRight span:nth-child(2) {
  font-size: 1.8em;
  font-weight: bold;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  position: sticky;
  z-index: 1;
  width: 100%;
  background-color: var(--var-mainBG-color);
  height: 5vh;
  top: 0;
}
.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 60%;
  /* background-color: hotpink; */
  margin: auto;
}
.navItem {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 30%;
  text-decoration: none;
  color: rgb(110, 110, 110);
}
.hiddenNavItem {
  display: none;
}
.navItem:hover {
  font-weight: bold;
  border-right: solid 1px black;
  border-left: solid 1px black;
  /* border-collapse: collapse; */
  box-sizing: border-box;
  color: black;
  text-shadow: 0 0 5px white;
}

.mainContent {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: svg;
  height: 75vw;
  padding: 5% 8%;
  padding-bottom: 12%;
  background: -webkit-linear-gradient(top, grey 50%, orange 10%);
}

.personalSafety {
  display: flex;

  justify-content: space-around;
  /* background-color: teal; */
  height: 30%;
}

.personalSafety > div {
  width: 40%;
  height: 80%;
  /* background-color: blueviolet; */
}

.personalSafety > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-right: 10%;
  box-sizing: border-box;
}
.personalSafety > div:nth-child(2) {
  /* background-color: blanchedalmond; */
  padding: 0 4%;
  box-sizing: border-box;
}
.personalSafety p {
  padding: 0;
  margin: 0;
}
.personalSafety div > span {
  color: white;
  font-size: 1.9rem;

  font-family: Times, serif;
  font-weight: bold;
}
.personalSafety .joinButton {
  width: 45%;
  height: 15%;
  position: relative;
  bottom: ;
}
.portraits {
  display: flex;
  /* justify-content: space-between; */
  /* position: relative; */
  margin: 1% 0;
  height: 30%;
  /* background-color: blue; */
  font-size: 0.8rem;
  /* display: inline-block; */
}
.portraits > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2%;
  padding: 0;
  height: 100%;
  width: 33%;
  background-color: white;
  border-radius: 2%;
}
.portraits p {
  margin: 0;
  padding: 0;
}

.image_container {
  height: 50%;
  background-color: cyan;
  width: 90%;
  background-repeat: no-repeat;
  background-position: bottom;
  transform: translate(0, -13%);
  border-radius: 2%;
  transition: transform 2s;
}
.image_container:hover {
  transform: scale(1.5, 1.5);
  z-index: 1;
}
.text_container {
  text-align: center;
  height: 50%;
  margin: auto;
  width: 80%;
  overflow: hidden;
}
.text_container > * {
  margin: 2%;
}
.child {
  background-color: rgb(186, 218, 245);
  background-image: url("img/child_cropped.png");
  background-size: 35%;
}
.adult {
  background-color: orange;
  background-image: url("img/adult_cropped.png");
  background-size: 40%;
}
.old {
  background-color: tomato;
  background-image: url("img/old_cropped.png");
  background-size: 55%;
}
.aboutUs {
  text-align: center;
  /* background-color: red; */
  height: 30%;
  width: 50%;
  /* margin: 7% auto; */
}
.aboutUs h1 {
  color: white;
  font-size: 1.5rem;
}
.aboutUs p {
  font-size: 0.8rem;
}
.gridSection {
  display: none;
  height: 50vw;
  /* width: 100%; */
  background-color: lightseagreen;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50%);
}
.gridItem {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px dotted wheat; */
  background-color: white;
  box-sizing: border-box;
  padding: 20%;
}
.gridItem:first-child {
  font-weight: bold;
  font-size: 2rem;
  background-color: rgb(186, 218, 245);
}
.gridItem:nth-child(3) {
  background-color: gainsboro;
}
.gridItem:nth-child(5) {
  background-color: tomato;
}
.cornerNumber {
  /* align-self: flex-start; */
  position: absolute;
  left: 10%;
  top: 10%;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  opacity: 0.4;
}
footer {
  display: none;
  height: fit-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: maroon; */
}
footer div {
  width: 100%;
  background-color: silver;
}
footer a {
  text-decoration: none;
  color: black;
}
footer div span {
  display: block;
  text-decoration: none;
}

/* CONTACT.html */
.wrapper {
  width: 100%;
  margin: 0;
}
.contact_Header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(186, 218, 245);
  height: 30vw;
  width: 80%;
  margin: auto;
  padding: 0 10%;
  background-image: url(img/man-and-baby.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-origin: content-box;
  background-size: contain;
}
.contact_Header h1 {
  font-size: 3rem;
}
nav.contact,
.navContainer.contact {
  background-color: white;
}

main.contact {
  display: flex;
  justify-content: space-around;
  padding: 10% 0;
  box-sizing: border-box;

  background-color: gainsboro;
  height: 50vw;
}

.formList {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact article {
  width: 30%;
}
.contact article h1 {
  font-size: 3rem;
  padding: 0;
  margin: 0;
}
.formList span {
  display: block;
}
.formList input {
  width: 100%;
  height: 1.5rem;
}
.formList > div > span {
  margin-bottom: 2%;
  color: white;
}
.formList input,
.formList textarea {
  box-sizing: border-box;
  padding: 2%;
  text-indent: 0;
  width: 100%;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 5px 0px gray;
}
.formList .joinButton {
  position: absolute;
  right: 0;
  width: 40%;
  height: 100%;
}
.buttonHolder {
  position: relative;
  width: 100%;
  height: 10%;
}

.mapHolder {
  position: relative;
  height: 35vw;
  background-image: url("img/map.PNG");
  background-size: cover;
}
.visitBox {
  position: absolute;
  background-color: orange;
  height: 45%;
  width: 25%;
  left: 10%;
  top: 10%;
}
.visitBox ul {
  padding: 3% 5%;
  margin: 0;
  color: white;
  list-style-type: none;
}
.visitBox h1 {
  font-size: 2.5rem;
  letter-spacing: -1px;
  margin: 0;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    width: 80vw;
    background-color: red;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    width: 80vw;
    background-color: yellow;
  }
  .gridContentContainer > span,
  .gridContentContainer > p {
    position: relative;
    opacity: 1;
  }
  .hiddenNavItem {
    display: inline;
    margin-left: 0%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    width: 80vw;
    background-color: lime;
  }

  .bottomLeft {
    /* background-size: contain; */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    width: 960px;
    background-color: pink;
  }
}
